*{
    box-sizing: border-box;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--back-ground);
}

:root{
    --header-color:rgb(30, 30, 30);
    --main-color:rgb(0, 120, 255);
    --text-color:rgb(78, 78, 78);
    --hover-color:rgb(205, 225, 248);
    --white-color:rgb(255,255,255);
    --back-ground:rgb(245, 245, 245);
    
    
}
 .fixed-up-btn{
    visibility: hidden;
}
.up-btn{
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #0078ff;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: all 600ms;
    color: var(--white-color);
    visibility: visible;
  
}
.up-btn:hover{
background-color: #0077ffc9;
}
/*------------------------ NAVBAR-------------------------- */

  
#nav {
    
    z-index: 999;
    transition: all 600ms;
   
}
#nav .nav-link{
    
    font-weight: 600;
    --bs-nav-link-color:var(--white-color);
    
}

#nav .navbar-brand{
    font-size: 1.75rem;
    letter-spacing: 1px;
}

#nav .dropstart .dropdown-toggle::before{
   display: none;
} 
#nav .navbar-nav .dropdown-menu{
    padding: 10px 20px;
    --bs-dropdown-border-radius:0;
}
#nav .dropdown-item {
    padding: 10px 20px;
    color: var(--text-color);
}
#nav .dropdown-menu{
    opacity: 0;
    display:none;
    visibility: hidden;
    max-width: fit-content;
    transition: all 400ms;
    
}
#nav .dropdown:hover > .dropdown-menu{
    opacity: 1;
    display: block;
    visibility: visible;
  }
.navbar-nav-scroll{
    max-height: fit-content;
    max-width: 100%;
   
}
 .navbar-scrolled{
    
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding-top: 0px ;
}
.pos-abs{
    position: absolute;
}
#nav .navbar-toggler{
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    --bs-navbar-toggler-border-color: transparent;
}


#nav .navbar-nav .nav-item .nav-link{
    padding: 10px 0 10px 30px;
   
}


#nav .dropdown-item{
    font-size: 0.875rem;
    font-weight: 600;
    transition: all 500ms;
}
#nav .dropdown-item:hover{
    color: var(--main-color);
    background-color: transparent;
}
#nav .maindrop{
    transform: translateX(60%);
}
#nav .deep{
    transform: translate(-10%,-10%);

}

.fa-chevron-down{
    font-size: 12px;
    opacity: 0.7;
   
}
.fa-chevron-right{
    font-size: 12px;
    opacity: 0.7;
}
/* -----header-------------------------- */
#home {
    background-image: url("../imgs/hero-bg.jpg");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, 0.508);
    background-blend-mode: multiply;
    background-position: center -50px;
}
#home h1{
    font-size: 3rem;
    color: var(--white-color);
}
#home .inner span{
    font-size: 1.5rem;
   
}
/* ABOUT SECTION------------------------- */
#about .info p{
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--header-color);
}
#about .about-info header::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: var(--main-color);
    left: 2%;
    bottom: 10%;
}
#about .info p span{
    font-weight:400;
    font-size: 1rem;
    color: var(--text-color);
}
#about .about-info p{
    font-size: 1.25rem;
    color: var(--text-color);
    font-weight: 300;
    line-height: 1.875rem;
    width: 90%;
}
#about .about-info h3{
    font-size: 2rem;
    color: var(--header-color);
    line-height: 2.375rem;
}
#about .progress-sec h4{
    font-size: 1rem;
    color: var(--text-color);
    font-weight: 400;
}
#about .progress-sec h3{
    font-size: 1.125rem;
}
#about .progress{
    background-color: #cde1f8;
}
/* #about img{width: 100px;

} */


/* SERVICES-------------------- */
#services header h2{
    font-size: 3rem;
  font-weight: 700;
  color: var(--header-color);
}
#services header p{
    color: var(--text-color);
}
#services header::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
   background-color: var(--main-color);
   left: 48%;

}
#services .icon-circle{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
   border: solid 10px var(--main-color);
   font-size:2.5rem ;
  
}
#services .card h3{
    font-size: 1.375rem;
    font-weight: 500;
    color: var(--header-color);
}
#services .card p{
    color: var(--text-color);
}
#services .icon-circle{
    transition: all 500ms;
}
#services .icon-circle:hover{
    background-color: var(--main-color);
    border-color: #cde1f8;
}
#services .icon-circle:hover i{
    color: var(--white-color);
}
/*  counter section------------------------------------ */
#counter{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  
    background-position: center center;
    background-image: url("../imgs/post-3.jpg");
   padding: 5rem 0;
   color: #fffffd;
}
#counter .icon-circle{
    width: 80px;
    height: 80px;
    border: solid 8px #cde1f8;
}
#counter .inner{
   position: relative;
    z-index: 100;
}
/* --------PORTFOLIO--------------------------------- */
#portfolio .card .card-title{
    font-size: 1.1875rem;
    color: var(--header-color);
}
#portfolio .card .card-text{
    font-size: .8rem;
    color: var(--main-color);
}
#portfolio .card span{
    color: var(--text-color);
}
#portfolio button{
    width: 2.5rem;
    height: 2.5rem;
    border-color: var(--main-color);
    color: var(--main-color);
    border: solid 3px var(--main-color);
}
#portfolio .card img{
    transition: all 500ms;
}
#portfolio .card:hover img{
    transform: scale(1.2);
}
#portfolio header::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--main-color);
    left: 48%;

}
#portfolio header h2{
    font-size: 3rem;
  font-weight: 700;
  color: var(--header-color);
}
#portfolio header p{
    color: var(--text-color);
}
/* ----------------------slider----------- */
#slider{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-position: center center;
    background-image: url("../imgs/overlay-bg.jpg");
   padding: 7rem 0;
    
   
   
}

 .overlay{
    
    top: 0;
    right: 0;
    bottom: 0;
    width:100%;
    background-color:var(--main-color);
    opacity: 0.7;
    
}
#slider .carousel-inner h3{
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
   
    font-size: 1.4rem;
color: var(--white-color);
}
#slider .carousel-item p{
    font-size: 1.25rem;
    font-weight: 300;
    
    color: var(--white-color);
}
#slider .slide button{
    width: 12px;
    height: 12px;
    
}
/*----------------------- blog section */
.badge{
    padding:10px 15px;
    font-size: 11px;
    font-weight: 500;
    transform: translateY(-35px);
}
#blog header::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 5px;
    background-color: var(--main-color);
    left: 48%;

}
#blog header h2{
    font-size: 3rem;
  font-weight: 700;
  color: var(--header-color);
}
#blog header p{
    color: var(--text-color);
}
#blog .card-title a{
    font-size: 21px;
    font-weight: 500;
    color: var(--header-color);
}
#blog .card-text{
    color: var(--text-color);
}
#blog .card-footer img{
width: 2rem;
height: 2rem;
}
#blog .card-footer a{
    color: var(--header-color);
    transition: all 500ms;
}
#blog .card-footer a:hover{
    color: var(--main-color);
}
/* CONTACT SECTION------------------------- */
#contact{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-attachment: scroll; */
    background-position: center center;
    background-image: url("../imgs/overlay-bg.jpg");
   padding: 7rem 0;
}
#contact  h2::after{
    content: "";
    position: absolute;
    width: 20%;
    height: 3px;
    background-color: var(--main-color);
    left: 0;
    top: 115%;

}
#contact header h2{
  color: var(--header-color);
}
#contact  p{
    color: var(--text-color);
    font-weight: 300;
    width: 90%;
    
   
}
#contact ul i{
    color: var(--main-color);
}
#contact ul span{
    color: var(--text-color);
    font-weight: 300;
}
#contact .icon-circle{
    width: 50px;
    height: 50px;
    border: solid
    3px var(--main-color);
    transition: all 600ms;
}
#contact .icon-circle i{
    transition: all 600ms;
}
#contact .icon-circle:hover i {
    color: var(--white-color);
}
#contact .icon-circle:hover{
    background-color: var(--main-color);
    border: solid 3px var(--hover-color);
}
#contact .sub-btn{
    padding: 10px 24px;
    background-color: var(--main-color);
    color: var(--white-color);
    font-size: 1.1rem;
    border:solid 4px white;
    transition: all 400ms;
}
#contact .sub-btn:hover{
    border: solid 4px var(--hover-color);
    background-color: #3393ff;
}
#contact textarea{
    resize: vertical;
}
/* footer---------------- */
#footer{
    background-color:#0062d3 ;
}

/* --------------- MEDIA---------------- */
@media (max-width: 576px){
    .contain-small{
        width: 95%;
      }
   
}

@media (min-width: 992px) {
    #nav .nav-link::after{
        content: "";
        position: absolute;
        width: 0;
        left: 35%;
        background-color: var(--white-color);
        height: 2px;
        top: 80%;
        transition: all 500ms;
    }
    .nav-link:focus, 
    .nav-link:hover {
    color: var(--bs-nav-link-hover-color);
    --bs-nav-link-hover-color: var(--white-color);
}
#nav .navbar-nav .nav-link.active, 
#nav .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    --bs-navbar-active-color:var(--white-color);
}

    
    #nav .navbar-nav .nav-link.active::after, 
    #nav .navbar-nav .nav-link.show::after{
    width: 50%;
    }
    #nav .nav-link:focus::after, 
    #nav .nav-link:hover::after{
        width: 50%;  
    }
    #nav .dropdown-menu{
        opacity: 0;
        display: block;
        right: 20%;
        visibility: hidden;
        transition: all 400ms;
    }
    #nav .dropdown:hover > .dropdown-menu{
        opacity: 1;
        visibility: visible;
      }
      #nav .dropdown-menu{
        max-width: none;
      }
/* home------------ */
#home h1{
    font-size: 72px;
    color: var(--white-color);
}
#home .inner span{
    font-size: 2.5rem;
   
}
/* about------------ */
#about img{
    width: auto;
}
}
